body {
  margin: 0;
  font-family: Arial, Helvetica;
}

.topnav {
  overflow: hidden;
  background-color: rgb(10, 10, 10);
}

.topnav a:hover {
  background-color: #865086;
  color: rgb(251, 250, 250);
}

.topnav a.active {
  background-color: #865086;
  color: white;
}

.mtitle {
    text-align: center;
    color: #865086;
  }

  .utitle {
      text-align:center;
  }

  hr {
      border-bottom: 6px dotted #865086;
  }

  h3 {
  text-align: center;
  }

  h1 {
  text-align: center;
  color: white;
  }

  p {
  text-align: center;
  }

  .topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

  label {
    color: white;
    text-align: center;
    }

  input {
    color: rgb(173, 2, 230);
    text-align: center;
    }

  .labelpurple {
    color: rgb(173, 2, 230);
    text-align: center;
    }


  .Bikeimg {
    max-width: 20%;
    max-height: 20%;
    display: block;
    margin-left: auto;
  margin-right: auto;
}

.Bicycleimg{
  max-width: 50%;
  max-height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

form {
  color: white;
  text-align: center;
  }

  .center {
    text-align: center;
    align-items: center;
    align-content: center;
  }





